body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
 
    margin-left: 150px;
    margin-right: 100px;
    padding: 20px;
}

.container img {
    margin-right: 20px;
    margin-left: -20px;
    margin-top: 19px;
}

h1 {
    color: #333333;
    font-size: 38px;
    font-family: Lato, sans-serif;
}
h2, h3 {
    color: #333333;
        font-family: Lato, sans-serif;

}
p {
    font-size: 18px;
    line-height: 1.45em;
    font-family: Noto Sans, sans-serif;
    color: #333;
    margin: 0 0 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ol {
    font-size: 18px;
        line-height: 1.45em;
        font-family: Noto Sans, sans-serif;
        color: #333;
        margin: 0 0 20px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

.button {
    color: #fff;
    background-color: #007BBD;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.list-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.download-button {
    margin: 30px;
    margin-bottom: 10px;
    width: 90%;
    height: 50px;

}
.download-all-button {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90%;
    height: 50px;

}