table {
    width: 100%;
    border-collapse: collapse;
    page-break-inside: avoid;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}
tr {
    page-break-inside: avoid;
    page-break-after: auto;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

